@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-brand: var(--brand);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-chart-accent: var(--chart);

  --font-main:
    "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

:root {
  --primary: oklch(0.24493 0.0508 254.378); /* #0E2138 */
  --brand: oklch(0.61352 0.20927 16.199); /* #E63757 */
  --background: oklch(0.97295 0.00298 264.794); /* #F5F6F8 */
  --surface: oklch(1 0.00011 271.152); /* #FFFFFF */
  --secondary: oklch(0.55102 0.02343 264.389); /* #6B7280 */
  --success: oklch(0.71634 0.1425 166.201); /* #1FBF8F */
  --warning: oklch(0.76858 0.1646 70.075); /* #F59E0B */
  --danger: oklch(0.61352 0.20927 16.199); /* #E63757 */
  --chart: oklch(0.76151 0.13106 217.518); /* #22C5E8 */
}

@layer base {
  body {
    @apply bg-background font-main antialiased text-primary;
  }
}
